<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://db-pg-aws.cmcqk7ljbdxd.us-east-1.rds.amazonaws.com:5432/DBAWS</property>
    <property name="temp.use_jdbc_metadata_defaults">false</property>
    <!--property name="hibernate.connection.username">oscar</property-->
    <!--property name="hibernate.connection.password">alumno</property-->
    <mapping class = "com.modelo.Museo"/>
    <mapping class = "com.modelo.Artista"/>
    <mapping class = "com.modelo.Corriente"/>
    <mapping class = "com.modelo.Ejemplar"/>
    <mapping class = "com.modelo.Obra"/>
    <mapping class = "com.modelo.ObrasArtistas"/>
  </session-factory>
</hibernate-configuration>
